@inject NavigationManager nagivation
@using Blazoring.PWA.Shared.Models

@if (User != null)
{
    <Card>
        <CardHeader>
            <CardText>@User.FullName</CardText>
        </CardHeader>
        <CardImage Source="@(User.Picture.ToString())" Alt="Sample image">
        </CardImage>
        <CardBody>
            <CardTitle Size="4">@User.JobType</CardTitle>
            <CardTitle Size="5">@User.JobTitle</CardTitle>
            <BlzGender Gender="@User.Gender" FontSize="48" />
            <CardText>
                @(User.UserDescription)
            </CardText>
            <Button Color="Color.Primary" Clicked="GoToDetail"><Icon Name="IconName.Search"></Icon> Details</Button>
        </CardBody>
    </Card>
}

@code {
    [Parameter]
    public User User { get; set; }

    public void GoToDetail()
    {
        nagivation.NavigateTo(Routes.UserEdit(User.Id));
    }
}